#map {
	height: 500px;
}
#responsa_popup h2 {
	font-size: 20px;
	margin: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #272B30;
}
#responsa_popup p {
	line-height: 1.3;
}
#responsa_popup p label {
	margin: 0;
}
#responsa_popup .col-lg-6 {
	padding-left: 5px;
	padding-right: 5px;
}
input.static-remote {
	width: 20px;
	font-size: 11px;
	font-weight: normal;
	-webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}
input.static-remote:focus {
	width: 100%;
	-webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}
.well {
	padding: 5px;
}
.radio label, .checkbox label {
	white-space: nowrap;
}
.responsa-category-icon {
	font-size: 16px;
	color: yellow;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
  margin: 0 15px;
}
.highlighted {
	font-weight: bold;
	color: #fff;
}

.box-icon, .box-icon a {
	float:none;
	text-align: right;
}
.wrapper {
	clear: both;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.bubble
{
position: relative;
min-height: 50px;
padding: 0px;
background: #A5FFA7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #A5FFA7;
display: block;
width: 0;
z-index: 1;
right: -15px;
top: 12px;
}

.commentBlock {
	margin: 15px 0;
}
.commentBlock p {
	padding: 5px 15px;
	color: #000;
}
.commentInfo {
	padding: 15px 0 0 20px;
}
.top-block {
	text-shadow: none;
}
#dashboardData {
	display:none;
}

#geocomplete { width: 200px}

.map_addr_canvas { 
  width: 600px; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

#multiple li { 
  cursor: pointer; 
  text-decoration: underline; 
}
